@page
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БПОУ УР «Воткинский машиностроительный техникум имени В.Г. Садовникова»</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <link rel="shortcut icon" href="photo/emblem.png" type="image/x-icon"/>
    <script src="js/rollbutton.js"></script>
    <script src="js/footer.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>
    <header>
        <div class="top-menu">
                <div onclick="rollbutton('rectangle1')" class="underline">Главная
                    <div id="rectangle1" >
                        <a class="underline">Главная</a>
                        <a class="underline">Абитуренту</a>
                        <a class="underline">Студенту</a>
                    </div>
                </div>
                <a class="underline" href="https://es.ciur.ru/auth/login-page">Электронная школа</a>
                <a class="underline"href="https://ds.ciur.ru/auth/login-page">Электронный детский сад</a>
                <a class="underline" href="https://ek.udmr.ru/auth/login-page">Электронный колледж</a>  
                <a class="underline" >Контакты</a>
            </div>
        </div>
    <button id="headerbt" class="btn">Вход</button>
    </header>
    <main>
        <div id="rectangle2" style="z-index: 1;">
            <img src="photo/emblem.png" class="image">
            <h1 class="h11">ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ</h1>
            <h2 class="h22">БПОУ УР <br> «Воткинский машиностроительный техникум имени В.Г.Садовникова»</h2>
            <p class="p1">427439, г. Воткинск, Королева, 20а <br>
                Телефон: (34145) 3-54-26 <br>
                Факс: (34145) 3-36-97 <br>
                E-mail: bpo-vmt@podved-mo.udmr.ru <br>
                Информационные ресурсы организации: <br>
                ----
            </p>
        </div>
        <div id="rectangle3" style="z-index: 1;">
            <h3 class="h33">Доска объявлений</h3>
            <div class="mainblock">
                <div class="news">
                   
                    <p class="head">
                        голова
                    </p>
                    <div class="info">
                            негры
                    </div>
            
                </div>
            </div>
        </div>
    </main>
    <footer>
        <center style="padding-top: 15px;">АУ УР "Региональный центр оценки качества образования", 2011-2024 гг.</center>
    </footer>    
</body>
</html>

<script>
    

    async function reg(loginF, passF) {

        const response = await fetch("api/register", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                login: loginF,
                password: passF
            })
        });

        if (response.ok === true) {
            const user = await response.json();
        }
        else {
            const error = await response.json();
            const err = document.getElementById("err");
            err.innerHTML = error.message;
            err.style.display = "block";
            console.log(error.message);
        }
    }

    document.body.onload = getNews;

    function NewN(news1)
    {
        var main = document.getElementById("main");
        var mainblock = document.createElement("div");
        var news = document.createElement("div");
        var head = document.createElement("p");
        var info = document.createElement("div");

        mainblock.className = "mainblock";
        news.className = "news";
        head.className = "head";
        info.className = "info";


        mainblock.Id = news1.id;
        main.append(mainblock);
        mainblock.append(news);
        news.append(head); 
        news.append(info);
        head.append(news1.head);
        info.append(news1.info);


    };


    async function getNews() {
       // отправляет запрос и получаем ответ
        const response = await fetch("/api/News", {
            method: "GET",
            headers: { "Accept": "application/json" }
        });
        //если запрос прошел нормально
        if (response.ok === true) {
            //получаем данные
           const News = await response.json();
           // добавляем полученные элементы в таблицу
            News.forEach(news => NewN(news));
            
        }
    }
</script>