@page
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    @* <link rel="stylesheet" href="@(nameof(ucpractise)).styles.css" /> *@
    <title>вмт</title>

    <style>
        body {
            position: fixed;
            height: max-content;
            width: 100%;
            background-image: url("/images/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            padding:0px;
            margin:0px;
        }
    </style>
</head>
<body>
    <header>
        <div class="divbtn">
            главная
        </div>
        <div class="divbtn">
            создать новость
        </div>
    </header>
        
        <aside>
            <img src="~/images/logo.png" alt="" id="logo">
            <h1>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ</h1>
            <h2 id="bpou">
                БПОУ УР
                «Воткинский машиностроительный техникум имени В.Г. Садовникова» 
            </h2>
            <p id="AsTxt">427439, г. Воткинск, Королева, 20а
                Телефон: (34145) 3-54-26
                Факс: (34145) 3-36-97
                E-mail: bpou-vmt@podved-mo.udmr.ru
                Информационные ресурсы организации: http://ciur.ru/vmt/
                
                Директор: и.о. директора Мехоношина Лада Владимировна
                Дата создания организации: 18 августа 1907 г.</p>
        </aside>

        <main>
            информация
            <p>
                логин:<br />
                <input id="login" />
            </p>
            <p>
                пароль:<br />
                <input id="password"/>
            </p>
            <p>
                поддтвердите пароль <br/>
                <input id="confpass" />
            </p>
            <p>
                <button id="reg">Сохранить</button>
                <p id="err">
                    пароли не совпадают
                </p>

                <div class="mainblock">
                    <div class="news">
                        <img src="/images/bg.jpg" alt="Alternate Text" class="NImg" />
                        <div class"info">
                                негры
                        </div>

                    </div>
                </div>

                 <div class="mainblock">
                    <div class="news">
                        <img src="/images/bg.jpg" alt="Alternate Text" class="NImg" />
                        <div class"info">
                                негры
                        </div>

                    </div>
                </div>

                 <div class="mainblock">
                    <div class="news">
                        <img src="/images/bg.jpg" alt="Alternate Text" class="NImg" />
                        <div class"info">
                                негры
                        </div>

                    </div>
                </div>

                <div class="mainblock">
                    <div class="news">
                        <img src="/images/bg.jpg" alt="Alternate Text" class="NImg" />
                        <div class"info">
                            негры
                        </div>

                    </div>
                </div>
        </main>
</body>


</html>

<script>
    

    async function reg(loginF, passF) {

        const response = await fetch("api/register", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                login: loginF,
                password: passF
            })
        });

        if (response.ok === true) {
            const user = await response.json();
        }
        else {
            const error = await response.json();
            const err = document.getElementById("err");
            err.innerHTML = error.message;
            err.style.display = "block";
            console.log(error.message);
        }
    }

    document.getElementById("reg").addEventListener("click", async () => {

        const logint = document.getElementById("login").value;
        const passt = document.getElementById("password").value;
        const cp = document.getElementById("confpass").value;
        const err = document.getElementById("err");
        if (cp === passt) {
            err.style.display = "none";
            await reg(logint, passt);
        }
        else { 
            err.style.display = "block";
        }
        
    });
</script>